@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*       <!-- made by Islam Tafesh +970592584234-->*/
:root {

    /*********** bg ***********/
    --bg01: linear-gradient(180deg,
                    #22262A 0%,
                    #181A1D 100%);

    --bg02: linear-gradient(135deg,
                    #2F3439,
                    #1D1F23);

    --bg03: linear-gradient(135deg,
                    #2C3136,
                    #1D2023);

    --bg04: #040404;

    --border01: #22262A;
    --border02: #1A1D21;

/*       <!-- made by Islam Tafesh +970592584234-->*/
    /*********** box-shadow ***********/
    --box-shadow01:
    6px 6px 10px #151618,
    -6px -6px 10px #2c3136,
    inset 2px 2px 6px #33353b,
    inset -3px -3px 6px #151618;


    --box-shadow02:
    -6px -6px 10px #151618,
    6px 6px 10px #2c3136,
    inset 2px 2px 6px #33353b,
    inset -3px -3px 6px #151618;

    --box-shadow03:
    6px 6px 12px #151618,
    -6px -6px 12px #2c3136;

    --box-shadow04:
    inset 2px 2px 3px -2px rgba(167,169,171,0.322),
    inset 0px -1px 1px 0px #4a4c4e;

    --box-shadow05:
    8px 8px 12px #151618,
    -2px -2px 10px #2c3136,
    inset 2px 2px 3px #33353b,
    inset -2px -2px 3px #151618;

    --box-shadow06:
    10px 10px 12px #151618,
    -10px -10px 12px #202529,
    inset 4px 4px 8px #33353b,
    inset -4px -4px 8px #151618;

    --box-shadow07:
    10px 10px 12px #151618,
    -10px -10px 12px #202529,
    inset -4px -4px 8px #33353b,
    inset 4px 4px 8px #151618;

}
/*       <!-- made by Islam Tafesh +970592584234-->*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    outline: none;  
}

html {
    height: 98%;
    background: #191b1e;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--bg01);
    height: 100%;
}

.min_height_wrapper header .p-now.hide {
    display: none;
}

.wrapper {
    max-width: 600px;
    min-height: 100vh;
    max-height: 100%;
    text-align: center;
    padding: 25px 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/*       <!-- made by Islam Tafesh +970592584234-->*/
header,
.song-timer,
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header .hdbtn {
    background: var(--bg02);
    border: 2px solid var(--border01);
    box-shadow: var(--box-shadow01);
    width: 50px;
    height: 50px;
    line-height: 52px;
    color: #86898c;
    font-size: 22px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.hdbtn:active {
    box-shadow: var(--box-shadow02);
}

header h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #86898c;
}

.player {
    margin-top: 1rem;
}

img {
    width: 75vw;
    height: 100%;
    max-width: 75vw;
    max-height: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    border: 10px solid var(--border02);
    border-radius: 50%;
    box-shadow: var(--box-shadow03);
    animation: rotation 8s infinite linear;
    transform-origin: center;
}

.Category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.grid {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 90%);
    align-items: center;
    width: 95%;
    text-align: center;
    height: 100%;
  }


  @media(min-width:320px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 40%);
    }

    .grid.title_grid_choose {
        grid-template-columns: 90%;
    }
  }

  @media(min-width:768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 30%);
    }
    
    .grid.title_grid_choose {
        grid-template-columns: 30%;
    }
  }


  @media(min-width:1024px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 30%);
    }
  }

  @media(min-width:1300px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 25%);
    }
  }

  .grid-hide {
    grid-template-columns: 100% !important;
  }

  .grid>* {
    background-color: green;
    display: flex;
    height: 40px;
    text-align: center;
    vertical-align: baseline;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  .Category:first-child .grid button {
    height: 130px;
  }

  .box-grid-item-color {
    background: var(--bg02);
    box-shadow: var(--box-shadow01);
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid #d94545eb;
    color: #d94545eb;
    transition: all 0.15s ease;
  }

  .box-grid-item-color-hide {
    display: none;
  }

  .grid-hide .box-grid-item-color-hide-2 {
    display: none;
  }

  .hidden-song-List .Category .grid button.box-grid-item-color-hide-2 {
    display: flex;
  }
  

  .box-grid-item-color:active {
    box-shadow: var(--box-shadow02);
    }

    .box-grid-item-color-2 {
        background: var(--bg02);
        box-shadow: var(--box-shadow01);
        border-radius: 10px;
        font-size: 24px;
        border: 1px solid #d94545eb;
        color: #d94545eb;
        transition: all 0.15s ease;
      }

      .wrapper header .Category {
        display: none;
      }

      .min_height_wrapper header .Category {
        display: none;
      }

      .min_height_wrapper header .Category.hide {
        display: flex;
      }

    
      .box-grid-item-color-2:active {
        box-shadow: var(--box-shadow02);
        }   

.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    cursor: pointer;

}

.song .song-played {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song .song-played i {
    font-size: 20px;
    font-weight: 200;
    color: rgba(126, 126, 126, 0.479);
    padding: 8px;
    margin: 10px 20px;
    cursor: pointer;
}

.song .song-played.played i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
    color: rgba(223, 31, 31, 0.781);
    margin: 10px 20px;
    border: 1px solid #A7A9AB;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;

}


.song-List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    transition: all 0.5s ease;
    width: 100%;
    padding: 25px 0px;
    height: 100% !important;
}

.hidden-player {
    display: none;
    height: min-content;
    min-height: min-content;
}




.wrapper {
    width: 100%;
}

.min_height_wrapper{
    min-height: min-content;
    max-width: none;
    position: fixed;
    box-shadow: 0px 3px 20px 20px #000000b5;
    border-bottom: 3px solid rgba(255, 255, 255, 0.164);
    background: #1a1d20;
    top: 0;
    left: 0;
}




.song-List .song {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.song-List .song .song-info{
    display: flex;
    flex-direction: row;
    margin: 10px 10px ;
}



.song-photo img {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: none;
    animation: none;
    border: 5px solid #e1520a67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;

}

.img-area {
    padding-top: 25px;
}

.song-information {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
}

.song-information .song-name{
    font-size: 20px;
    color: #A7A9AB;
}

.song-information .song-artist{
    font-size: 16px;
    color: #7c7d80;

}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.name {
    color: #A7A9AB;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.artist {
    color: #7c7d80;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 0 20px 0;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.audioC {
    margin: 0px 0px 10px 0px;
}


.song-timer {
    margin-bottom: 20px;
}

.song-timer span {
    font-size: 10px;
    color: #7c7d80;
    user-select: none;
    font-weight: 800;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.progress-area {
    height: 7px;
    width: 100%;
    margin-top: 5px;
    border-radius: 50px;
    background: var(--bg04);
    box-shadow: var(--box-shadow04);
    cursor: pointer;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg,
                        #bf2311 0%,
                        #e1530a 80%);
    box-shadow: var(--box-shadow04);
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.progress-bar::before {
    content: "";
    position: absolute;
    background: var(--bg02);
    box-shadow: var(--box-shadow05);
    border-radius: 50%;
    top: 50%;
    right: -14px;
    z-index: 2;
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.progress-bar::after {
    content: "";
    position: absolute;
    background: #e1530a;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    width: 10px;
    height: 10px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}



.controls {
    margin: 30px 8px 5px 8px;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.btnC {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--border02);
    background: var(--bg03);
    box-shadow: var(--box-shadow06);
}

.btnC:active {
    box-shadow: var(--box-shadow07);
}

.controls i {
    font-size: 16px;
    user-select: none;
    color: #a7a9a7;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.controls .play-pause {
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.play-pause i {
    text-align: center;
    color: #fff;
}

/*       <!-- made by Islam Tafesh +970592584234-->*/
.play-pause {
    border: 3px solid #ce4b0e;
    background: linear-gradient(135deg,
    #bd2210,
    #e5550b);
    box-shadow: 
    10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset 4px 4px 8px #e5550b,
    inset -4px -4px 8px #bd2210;
}
/*       <!-- made by Islam Tafesh +970592584234-->*/
.play-pause:active {
    box-shadow: 
    10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset -10px -10px 8px #e5550b,
    inset 10px 10px 8px #bd2210;
}

.rotate {
    animation: rotation 8s infinite linear;
    transform-origin: center;
}

@keyframes rotation {

    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
    
}
/*       <!-- made by Islam Tafesh +970592584234-->*/



@media (min-width:10px) {
    .wrapper {
        max-width: 1000px;
    }

    .hidden-song-List {
        display: none;
        height: min-content;
        min-height: min-content;
    }
}

@media (min-width:1000px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wrapper {
        max-width: none;
    }

    .hidden-song-List {
        display: flex;
        height: min-content;
        min-height: min-content;
    }

    img {
        max-width: 240px;
    }

    .section_1 {
        background: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
    }
}

.song-list-item {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.song-list-item.hide {
    display: none;
}

.img-area img:fullscreen {
        max-width: 75vw;
  }
  
  .img-area img:-webkit-full-screen {
    max-width: 75vw;

  }
  
  .img-area img:-moz-full-screen {
    max-width: 75vw;

  }
  
  .img-area img:-ms-fullscreen {
    max-width: 75vw;

  }

    
  @media (max-width:767px) {
    .Category:first-child .grid {
        padding-top: 10%;
    }

    .Category:first-child .grid.grid-hide{
        padding-top: 0px;
    }
    
  }

  @media (max-width:400px) {
    .Category:first-child .grid {
        padding-top: 10%;
    }

    
    .Category:first-child .grid.grid-hide{
        padding-top: 0px;
    }
    
  } 

